* {
    font-family: Roboto Mono;
    box-sizing: border-box;
}

:root {
    font-size: 15px;
    --backgroundclr: #c5e4e7;
    --darkclr: #00474b;
    --accentclr: #1dc3ab;
    --lightclr: #f3f8fb;
    --errorclr: #ff5724;
}

@media screen and (max-width:500px) {

    :root {
        font-size: 13px;
    }

    body {
        flex-direction: column;
        justify-content: flex-end;
    }

    main {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        border-radius: 2rem 2rem 0 0;
    }

    #tip__calculator {
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;
    }

    #input__section {
        width: 100%;
        height: 50%;
        justify-content: space-evenly;
    }

    #output__section {
        width: 100%;
        height: 50%;
        border-radius: 1rem;
        padding: 2rem;
    }

    .input__style {
        padding: 1rem;
    }

    .main__button {
        padding: 0.8rem;
    }

    .custom__button {
        padding: 0.8rem;
    }

    .grid--box {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
}

@media screen and (min-width: 501px) {
    body {
        justify-content: center;
        align-items: center;
    }

    main {
        width: 70%;
        height: auto;
        border-radius: 2rem;
        padding: 3rem;
    }

    #tip__calculator {
        gap: 3rem;
        justify-content: space-between;
    }

    #input__section {
        height: 100%;
        width: 50%;
        gap: 1rem;
    }

    #output__section {

        height: 100%;
        padding: 3rem;
        border-radius: 1rem;
        width: 50%;
    }

    .input__style {
        padding: 1rem;
    }

    .main__button {
        padding: 1rem 2rem;
    }

    .custom__button {
        padding: 1rem 2rem;
    }

    .grid--box {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }


}

body {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    padding: 0;
    margin: 0;
    background-color: var(--backgroundclr);
}

label {
    display: flex;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 1rem;
    color: var(--accentclr);
}

main {
    display: flex;
    background-color: white;
}

#tip__calculator {
    display: flex;
    width: 100%;
    height: auto;
}

#input__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#output__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--darkclr);
}

#tip__display {
    justify-content: space-between;
    gap: 2rem;
}

#reset__button {
    justify-content: center;
    align-items: center;
    color: var(--darkclr);
    background-color: var(--accentclr);
    border: none;
    outline: none;
    transition: all ease 0.3s;
    cursor: pointer;
}

#reset__button:hover {
    outline: none;
    background-color: var(--lightclr);
}

.input__box {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.input__row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.input__style {
    display: flex;
    width: 100%;
    font-weight: 900;
    font-size: 1.2rem;
    margin: 0;
    text-align: right;
    border-radius: 0.3rem;
    border: none;
    background-color: var(--lightclr);
    transition: outline ease 0.3s;
}

.input__style:hover {
    outline: solid 3px var(--darkclr);
}

.input__style--error {
    outline: solid 3px var(--errorclr);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.main__button {
    background-color: var(--darkclr);
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.2s;
    cursor: pointer;
    outline: none;
}

.main__button:hover {
    color: var(--darkclr);
    background-color: var(--backgroundclr);
    outline: none;
}

.selected__button {
    color: var(--darkclr);
    background-color: var(--accentclr);
}

.custom__button {
    display: flex;
    width: 100%;
    text-align: center;
}

.label {
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: var(--accentclr);
}

.error__message {
    color: var(--errorclr);
    transition: all ease 0.2s;
}

.output__label {
    color: white;
    font-size: 1rem;
}

.output__label--info {
    color: #82b2b6;
}

.tip__row {
    justify-content: space-between;
    align-items: center;
}

.tip__output {
    display: flex;
    color: var(--accentclr);
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

.status__row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.column--box {
    display: flex;
    flex-direction: column;
}

.row--box {
    display: flex;
}

.grid--box {
    display: grid;
    width: 100%;
}