@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root{
    --darkclr: #00474b;
    --lightclr: #fff;
    --mainclr: #1fc5ad;
    --secondclr: #c5e4e7;
    --inputclr: #f3f8fb;
    font-size: 15px;
    margin: 0;
    padding: 0;
    font-family: Roboto Mono, sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondclr);
    padding: 0;
    margin: 0;
    height: 100vh;
}
.label{
    display: block;
    padding: 0;
    padding-bottom: 1rem;
    margin: 0;
    font-size: 1rem;
    transition: ease all 0.2s;
}
.calculator{
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: var(--lightclr);
    color: var(--darkclr);
    gap: 5rem;
    padding: 3rem;
    border-radius: 2.5rem;
    box-shadow: 0 0.5rem 50px #1fc5ad;
}
.calculator--input{
    min-width: 300px;
    max-width: max-content;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}
.tip--input{
    width:auto;
    height: 1rem;
    border-radius: 0.25rem;
    background-color: var(--inputclr);
    padding: 1rem;
    cursor: pointer;
    border: none;
    font-size: 1.3rem;
    font-family: Roboto Mono, sans-serif;
    font-weight: 700;
    color: var(--darkclr);
    text-align: right;
    transition: all ease 0.2s;
}
.tip--input:hover{
    box-shadow: 0 0 0 1.5px #1fc5ad;

}
.tip--input:focus{
    outline: none;
    box-shadow: 0 0 0 1.5px #1fc5ad;
}
.tip--percentage--button{
    height: auto;
    background-color: var(--darkclr);
    color: var(--lightclr);
    border-radius: 0.3rem;
    cursor: pointer;
    border: none;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    padding: 0.8rem;
    transition: all ease 0.2s;
    font-family: Roboto Mono, sans-serif;

}
.tip--percentage--button:hover{
    background-color: var(--secondclr);
    color: var(--darkclr);
}
.tip--percentage--button::placeholder{
    text-align: center;
}
.tip--percentage{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.tip--percentage--grid{
    display: grid;
    width: auto;
    height: auto;
    gap: 1rem;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 1fr);
}
.custom, .custom::-webkit-inner-spin-button{
    background-color: var(--inputclr);
    color: var(--darkclr);
    -webkit-appearance: none;
    text-align: right;
}
.bill--amount::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.people--number::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.calculator--output{
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--darkclr);
    color: var(--lightclr);
    padding: 2rem;
    border-radius: 1.5rem;
    justify-content: space-between;
    gap: 10rem;
}
.tip--output{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
}
.tip--info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.tip--info--desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
}
.label--output{
    display: inline;
    padding: 0;
}
.sublabel{
    display: inline;
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    color: var(--secondclr);
}
.tip--output--total, .tip--output--amount{
    display: inline;
    padding: 0;
    margin: 0;
    font-size: 3rem;
    color: var(--mainclr);
}

.reset--bttn{
    font-family: Roboto Mono, sans-serif;
    color: var(--darkclr);
    background-color: var(--mainclr);
    border: none;
    font-weight: 700;
    border-radius: 0.3rem;
    padding: 1rem;
    font-size: 1.3rem;
    transition: all ease 0.2s;
    cursor: pointer;
}
.reset--bttn:hover{
    background-color: var(--lightclr);
}
.active{
    color: var(--darkclr);
    background-color: var(--mainclr);
}
.error{
    box-shadow: 0 0 0 1.5px red;
}
.label--row{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    transition: ease all 0.2s;
}
.label--error{
    color: red;
}
.bill{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}
.people{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}